.body{
    font-family: 'Montserrat';
}

h1 {  
    font-family: 'Montserrat'; 
     font-size: 3.5rem;
       line-height: 1.5;  
       font-weight: 900;
       color: white;
}
h2{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat';
    font-weight: 900;
    /* font-size: 3.5rem; */
    
}
p{
    color: #8f8f8f;
}
#title{
    background-color: #ff4c68;
}
.container-fluid{
    padding: 3% 15% 7%;

}
.nav-item{
    border-left: 3px solid #ff4c68;
    padding: 0 18px;
    
}
.nav-link{
    font-family: 'Montserrat-Light';
    font-size: 1.2rem;
}

.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    margin-left: 1%;
    font-family: 'ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
    color: white;

}

.download-button{
    margin: 5% 3% 5% 0; 
    /* width: 30% !important; */
    width: 150px;
    /* min-width: 30%;
    max-width: 30%; */
}

.title-image{
    width : 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
    
}
/* feature section */
#features{
    position: relative;
    /* z-index: 1; */
    background-color: #fff;
}
.fas{
    color: #ef8172;
    margin-bottom: 1rem;
}
.fas:hover{
    color: #ff4c68;
}
.featurerow{
    
    padding: 7% 15%;
}

.featind{
    text-align: center;
    padding: 5%;
}
   /* testimonials */

   #testimonials{
      
       text-align: center;
       background-color: #ef8172;
       color: #fff;
   }
   .test-image{
       width: 10%;
       border-radius: 100%;
       margin: 20px;
   }
   #press{
       background-color: #ef8172;
       text-align: center;
       padding-bottom: 3%;
   }
   .press-logo{
      width: 15%;
      margin: 20px 20px 50px; 
   }
   .carousel-item{
    padding: 7% 15%;
   }
  #pricing{
      padding: 100px;
      text-align: center;
  }
  .pricing-colomn{
      padding: 3% 2%;
  }
  @media (max-width: 992px){
    .title-image{
        position: static;
        transform: none;
    }
  }

  #cta{
      text-align: center;
      background-color: #ff4c68;
      color: #fff;
      height: 20%;
      padding: 7% 15%;
  }
  .cta-heading{
      font-family: "Montserrat";
      font-weight: bolder;
  }
  .cta-buttons{
      padding-top: 5%;
  }
  .social{
      padding-top: 5%;
     text-align: center;
      
  }
  .fab{
        padding-right: 4%;
  }
  .fa-envelope{
      color: black;
  }
  .copyrights{
      padding-left: 40%;
  }
.dnbtn{
    width: 150px;
}